/* body {
  background-color: #000000;
} */
/* .h3padding {
  margin-bottom: 30px;
} */
.toast{
  background-image: linear-gradient(to right, #f63083, #cb2fa4, #a32dc5) !important;
    color: white !important;
}
.countMint{
  color: white;
  position: absolute;
  left: 10px;
  background: grey;
  padding: 10px;
  border-radius: 10px;
  top: 8rem;
}
.whiteWrapper{
  border-radius: 10px;
}
.textCOlor{
 color: #FC79FF;

}
.textCOlor2{
  color:   #FFF279;
}
.bgCover{
  background: url(./components/background.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 100vh;
  background-attachment: fixed;
}
.MuiAlert-standardError{
  background-color: rgb(253, 237, 237) !important;
}
.MuiAlert-standardError .MuiAlert-icon{
  color: #F06360 !important;
}
.main-heading{
  background: linear-gradient(90deg, #D926AE -5.32%, #FF4361 53.28%, #FF7362 109.48%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: 'Russo One'!important;
font-style: normal;
font-weight: 400!important;
font-size: 80px!important;
line-height: 120%!important;
text-align: center!important;
letter-spacing: 0.06em!important;
text-transform: uppercase!important;
  
}
.sub-heading-airdrop {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #191919;
}
.sub-heading {
  font-family: 'IBM Plex Sans' !important;
  font-style: normal;
  font-weight: 600;
  font-size: 24px !important;
  line-height: 140%;
  text-align: center;
  color: #191919;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
.sub-heading span{
  font-family: 'IBM Plex Sans' !important;
font-style: normal;
font-weight: 500;
font-size: 24px!important;
line-height: 140%;
text-align: center;
background: linear-gradient(90deg, #D926AE -5.32%, #FF4361 53.28%, #FF7362 109.48%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}
.addmore{
  background-color: transparent!important;
font-family: 'Russo One'!important;
font-style: normal!important;
font-weight: 400!important;
font-size: 14px!important;
line-height: 112%!important;
display: flex!important;
align-items: start;
text-decoration-line: underline;
text-transform: uppercase;
color: #FFFFFF!important;
background: none;
box-shadow: none!important;
}
.register{
  background: #FFFFFF!important;
  padding: 20px 32px!important;
  color: #cb2fa4!important;
font-family: 'Russo One'!important;
font-style: normal!important;
font-weight: 400!important;
font-size: 14px!important;
line-height: 112%!important;
width: 95%;
border-radius: 0px!important;
margin-top: 10px!important;
z-index: 10;
}
.card-address{
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.address-box {
  background: linear-gradient(90deg, #FFFFFF -5.32%, #FFEBEE 53.28%, #FFBDB5 109.48%);
border-radius: 30px;
padding: 2px 8px;
color: #cb2fa4!important;
font-size: 12px!important;
line-height: 130%!important;
}
.connact-btn{
  text-align:end;
  padding-right: 60px;
  padding-top: 35px;
}
.border-area{
  position: relative;
  width: fit-content;
  margin-left: auto;
}
.border-area::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #FB406C;
  left: 5px;
  top: 5px;
}

@media (max-width:1280px){
  .connact-btn{
    text-align:center;
    padding-right: 0px;
    padding-top: 35px;

  }
  .border-area{
    margin: auto;
  }
}
@media (max-width:700px){
  .main-heading{
    font-size: 40px!Important;
  }
  
}
.register-outer {
  position: relative;

}
.register-outer button{
  height: 40px;
}
.register-outer:after{
  position: absolute;
    content: '';
    width: 95%;
    height: 89%;
    border: 2px solid #ffff;
    left: 17px;
    top: 15px;
}
.input-remove{
  width: unset!Important;
  margin: 0 0 0 5px!Important;
  font-size: 49px;
  color: white;
  cursor: pointer;
  position: absolute;
    right: 26px;
}
.card-outer{
position: relative;
max-width: 560px;
    margin: auto;
}
.card-outer .user-card{
  position: inherit!important;
  }

.card-outer::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border: 2px solid red;
  top: 20px;
  right: -20px;
  }

  .outer-aread-button{
    margin-top: 50px;
    position: relative;
    width: fit-content;
  }
  .outer-aread-button::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 100%;
    left: 3px;
    border-right: 2px solid red;
    border-bottom: 2px solid red;
    transform: rotate(380deg);
    top: 3px;
  }
  .inner-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 85px;
    height: 85px;
    background: linear-gradient(90deg, #D926AE -5.32%, #FF4361 53.28%, #FF7362 109.48%);  
  }
  .inner-circle img {
    left: 29.17%;
    right: 29.17%;
    top: 35.42%;
    bottom: 35.42%;
  }
  
  .requirment {
    display: flex;
    flex-direction: row;
    align-items: center;
  }