.appBarGradient {
  background: linear-gradient(90deg, #D926AE -5.32%, #FF4361 53.28%, #FF7362 109.48%);
  
}

.buttonRadius {
  border-radius: "150px";
}
.logo-img{
  width: 200px;
}
.connected-btn{
  padding: 16px 32px!important;
  font-family: 'Russo One';
font-style: normal!important;
font-weight: 400!important;
font-size: 14px!important;
align-items: center!important;
align-items: center!important;
text-align: center!important;
text-transform: uppercase!important;
color: #FFFFFF!important;
border-radius: 0px!important;
}